@model IEnumerable<Client.LoanApplication.Models.LoanDetails>

@{
    ViewBag.Title = "Dashboard";
}

<div>
    <table class="table table-bordered table-striped" style="margin-top:20px;">
        <thead style="background-color: darkgrey; border-block-color: darkgrey; ">
            <tr>
                <th>Loan Amount</th>
                <th>Valuation</th>
                <th>LTV</th>
                <th>Firs tName</th>
                <th>Postcode</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valuation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LTV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @if (item.Postcode == null){
                            @Html.Display("");}
                    else{
                        @Html.DisplayFor(modelItem => item.Postcode);
                    }
                        @*@Html.DisplayFor(modelItem => item.Postcode modelItem => item.Postcode)*@
                    </td>

                    <td>
                        @if (item.UWStatus == 0){
                            @Html.Display("");
                        }
                        else{
                            @Html.DisplayFor(modelItem => item.UWStatus);
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Review", "EditCase", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
