@model IEnumerable<Client.LoanApplication.Models.LoanDetails>

@{
    ViewBag.Title = "Dashboard";
}

<div style="text-align: right; margin-bottom: 25px; margin-top: 15px;">
    @Html.ActionLink("Create Case", "CreateCase", "Broker", null, htmlAttributes: new { @class = "btn btn-default Actionbtn" })
</div>
<div class="table-responsive">
    <table id="LoanCases" class="table table-bordered table-striped">
        <thead style="background-color: darkgrey; border-block-color: darkgrey; ">
            <tr>
                <th>Loan Amount</th>
                <th>Valuation</th>
                <th>LTV</th>
                <th>Firs tName</th>
                <th>Postcode</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valuation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LTV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)
                    </td>


                    <td>
                        @if (item.UWStatus == 0)
                        {
                            @Html.Display("");
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.UWStatus);
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "GetLoanDetailsbyId", new { id = item.Id, }) |
                        <a id="@item.Id" class="Remove" style="cursor:pointer;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(LoanCases).dataTable();
            $(document).on('click', '.Remove', function () {
                var button = $(this);
                var id = button.attr("id");

                bootbox.confirm("Are you sure you want to delete this Case?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Broker/DeleteCase",
                            data: { "id": id },
                            type: "Post",
                            dataType: "json",
                            success: function (result) {
                                if (result.IsSuccess) {
                                    button.parents("tr").remove();
                                    bootbox.alert("Records deleted successfully !!!");
                                }
                            },
                            error: function (errormessage) {
                                bootbox.alert(errormessage.responseText);
                            }
                        });
                    }
                });
            });
        });
    </script>
}
