@model IEnumerable<Client.LoanApplication.Models.LoanDetails>

@{
    ViewBag.Title = "Dashboard";
}

<div style="text-align: right; margin-bottom: 25px; margin-top: 15px;">
    @Html.ActionLink("Create Case", "CreateCase", "Broker", null, htmlAttributes: new { @class = "btn btn-default Actionbtn" })
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead style="background-color: darkgrey; border-block-color: darkgrey; ">
            <tr>
                <th>Loan Amount</th>
                <th>Valuation</th>
                <th>LTV</th>
                <th>Firs tName</th>
                <th>Postcode</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valuation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LTV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)
                    </td>


                    <td>
                        @if (item.UWStatus == 0)
                        {
                            @Html.Display("");
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.UWStatus);
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "GetLoanDetailsbyId", new { id = item.Id, }) |
                        <a href="#" onclick=DeleteCase1(@item.Id)>Delete</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function DeleteCase1(id) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Broker/DeleteCase",
                data: { "id": id },
                type: "Post",
                dataType: "json",
                success: function (result) {
                    if (result.IsSuccess) {
                        alert("Records deleted successfully !!!");
                        window.location.reload();
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>