@model IEnumerable<Client.LoanApplication.Models.LoanDetails>

@{
    ViewBag.Title = "Dashboard";
}

<div style="text-align: right; margin-bottom: 25px; margin-top: 15px;">
    @Html.ActionLink("Create Case", "CreateCase", "Broker", null, htmlAttributes: new { @class = "btn btn-default Actionbtn" })
</div>
<div>
    <table class="table table-bordered table-striped">
        <thead style="background-color: darkgrey; border-block-color: darkgrey; ">
            <tr>
                <th>Loan Amount</th>
                <th>Valuation</th>
                <th>LTV</th>
                <th>Firs tName</th>
                <th>Postcode</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valuation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LTV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postcode)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UWStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditCase", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteCase", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<style>
    .table th {
        text-align: center;
    }

    .table td {
        text-align: center;
    }

    .Actionbtn {
        width: 130px;
    }
</style>