<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Loan Application System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content divbody">
        <div class="divheaderbody">
            <div class="row" style="margin-left:10px;margin-right:10px;">
                <div class="form-group">
                    <div class="col-md-4 cntrheaderlleft">
                        @Html.Label("Hello, " + @User.Identity.Name, htmlAttributes: new { @class = "control-label mir" })
                    </div>
                    <div class="col-md-4 cntrheaderlcenter">
                        @Html.ActionLink("Dashboard", "Dashboard", @User.IsInRole("broker") ? "Broker" : "Underwriter")
                    </div>
                    <div class="col-md-4 cntrheaderlright">
                        @Html.ActionLink("Logout", "Logout", "Login", null, htmlAttributes: new { @class = "btn btn-default Actionbtn" })
                    </div>
                </div>
            </div>
        </div>
        <div class="container body-content" style="width:90%">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajaxunobtrusive")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>

    function OnSuccess(responsedata) {
        if (responsedata.IsSuccess) {
            alert("Data Saved Successfully !!!")
            location.href = responsedata.RedirectUrl;
        }
        else {
            alert("Some Errors Occured, Please check input data !!!")
        }
    }
    function OnFailure() {
        alert("Inserted Failed")
    }
</script>